@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
    scroll-padding-top: 70px;
    @apply dark:bg-black bg-gray-200
}

ul {
    padding-bottom: 20px;
}

li {
    list-style: circle;
    display: list-item;
    margin-left: 30px;
}

/* Write your own custom component styles here */
.btn-blue {
    @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}
.max-w-10xl {
    max-width: 1550px;
}
.content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@layer utilities {
    .progress {
        background: red;
    }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@font-face {
    font-family: "BarlowSemiCondensed-Bold";
    src: url("/assets/fonts/BarlowSemiCondensed-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

.title {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: "BarlowSemiCondensed-Bold", serif;
    line-height: 53px;
    margin-bottom: 50px;
    @apply dark:text-gray-300  text-gray-700 select-none
}

.h2 {
    @apply text-2xl font-semibold md:font-bold mt-5 dark:text-gray-300
}
.h4 {
    @apply font-semibold dark:text-gray-300 mt-5
}

.mce-toc {
    @apply bg-gray-200 dark:bg-transparent dark:border-blue-500 border-2 px-3 pt-1 rounded-xl my-3 md:my-5 max-w-md
}
.mce-toc h2 {
    @apply pb-2 text-gray-600;
}
.mce-toc li {
    @apply list-none hover:underline dark:text-gray-400 text-gray-700
}
.mce-toc a {
    @apply dark:text-gray-300 ;
}
a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    @apply dark:text-blue-500 text-red-500;
}
a:hover:after {
    width:100%;
    right: 0;
}
a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    transition: width 0.5s ease 0s, right 0.5s ease 0s;
    width: 0;
    @apply dark:bg-blue-500 bg-red-500
}
