@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  background-color: #E0ECF0;
}
li {
  list-style: circle;
  display: list-item;
  margin-left: 30px;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}
.content{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
