.content {
    padding: 40px 0 40px 0;
    font-size: 17px;
    line-height: 30px;
    /*font-family: charter, serif;*/
}
@media (min-width: 768px) {
    .content {
        font-size: 17px;
    }
}
.content > p {
    padding-top: 20px;
}
.title {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: "BarlowSemiCondensed-Bold", serif;
    line-height: 53px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .title {
        font-size: 48px;
    }
}
