.content {
    padding: 40px 0 40px 0;
    font-size: 17px;
    line-height: 30px;
    @apply w-full
    /*font-family: charter, serif;*/
}
@media (min-width: 768px) {
    .content {
        font-size: 17px;
    }
}
.content  p {
    padding-top: 20px;
}

.content pre {
    @apply mt-6 bg-gray-200
}

 .copyButton {
    @apply absolute right-4 top-3 text-sm px-2 py-1 rounded-md
}

.title {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: "BarlowSemiCondensed-Bold", serif;
    line-height: 53px;
    margin-bottom: 50px;
    @apply dark:text-gray-300  text-gray-700 select-none
}

@media (min-width: 768px) {
    .title {
        font-size: 48px;
    }
}

